# direnv Configuration File
#
# See the `README.md` document for install instructions.

# Use `.python-version` file to coordinate the Virtual Environment Requirements
if [ -f ".python-version" ]; then
    pyversion=$(head .python-version)
else
    echo "Missing .python-version File"
    pyversion="NULL"
fi

layout pyenv ${pyversion}
ln -Fs "$(dirname $(dirname `which python`))" ./.direnv/python