[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-bigquery = "==2.28.1"
google-auth = "==2.3.0"
google-auth-oauthlib = "==0.4.6"
pandas-gbq = "==0.15.0"
omegaconf = "==2.1"
toml = "==0.10.2"

[dev-packages]
pytest = "==6.2.5"

[requires]
python_version = "3.8"
