#-e git+http://github.com/pytorch/pytorch@5a78725#egg=torch
Jinja2==3.0.3
numpy>=1.22
skl2onnx==1.15.0
#onnx>=1.8.1
pandas>=1.2.4
setuptools>=59.5.0
sphinx_rtd_theme==1.0.0
tf2onnx==1.9.3
onnxruntime>=1.8.1
asyncio==3.4.3
#pip install -i https://test.pypi.org/simple/ onnxruntime==1.8.2.dev20210816004 # do when using mac arm64
#torch==1.10.2
# for 3.10 install 1.11