#-e git+http://github.com/pytorch/pytorch@5a78725#egg=torch
elemeno-ai-feast[redis,gcp,aws]==0.18.2
GitPython==3.1.26
google_auth_oauthlib==0.4.6
Jinja2==3.0.3
mlflow==1.20.2
numpy==1.21.4
omegaconf==2.1.0
onnx==1.10.2
pandas>=1.2.4
pandas_gbq==0.15.0
protobuf==3.19.4
setuptools==53.0.0
sphinx_rtd_theme==1.0.0
tf2onnx==1.9.3
onnxruntime>=1.8.1
#pip install -i https://test.pypi.org/simple/ onnxruntime==1.8.2.dev20210816004 # do when using mac arm64
#torch==1.10.2
# for 3.10 install 1.11

