{
  "name": "feature_table_name",
  "entities": ["id"],
  "schema": [
    {"name": "feature_1", "type": "int"},
    {"name": "feature_2", "type": "float"},
    {"name": "feature_3", "type": "int"},
    {"name": "feature_4", "type": "float"},
    {"name": "target", "type": "int"},
    {"name": "event_timestamp", "type": "timestamp"}
  ]
}